
<h1> Welcome home </h1>
<form action="/contact" method="get">
  <input type="text" name="member" placeholder="Who are you looking for?">
  <input type="text" name="hello" placeholder="say hi">
  <input type="submit">
</form>
